@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

.top-img {
  position: absolute;
  top: 0;
  left: 0;
}

.bottom-img {
  position: absolute;
  bottom: 0;
  right: 0;
}
